// Set cross browser transition
// Usage
// @include transition(all .3 ease)
@mixin transition($args) {
    -moz-transition:    $args;
    -o-transition:      $args;
    -webkit-transition: $args;
    transition:         $args;
}

// Set cross browser border-radius
// Usage
// @include border-radius(10%)
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


// Set a cross browser opacity
// Usage 
// @include opacity(.4)
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/// Given the location of a webfont, will generate a font-face declaration with multiple file formats.
/// @access public
/// @param {String} $font-name - Font family name
/// @param {String} $file-name - File name (no extension)
/// @param {String | Number} $weight [normal] - Font weight
/// @param {String} $style [normal] - Font style
/// @example scss - Usage
///   @include font-face('gotham', '/fonts/gotham');
@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
         url($file-name + '.woff') format('woff'),
         url($file-name + '.ttf')  format('truetype'),
         url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

// Set default button style
// Usage
// @include button(red, 1px solid black, green)
@mixin button($bg-color, $border, $color) {
  background-color: $bg-color;
  border: $border;
  color: $color;
}